/*Barra de busca*/
.searchBarContainer {
  width: 720px;
}
/*Imagens do rodapé*/
.imageElement--img {
  padding-left: 45%;
}
/*Sub-Menu*/
/*
.container {
  background-color: #212121;
}*/
/*thumbimage
.carouselGaleryThumbs {
  display: none;
}
*/
